body {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  max-width: 100%;
  display: block;
}
img[src$=".jpg"] {
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
h1,
h2,
h3,
h4,
ul,
p,
blockquote {
  margin: 0;
}
