.header-bg {
  background-color: #000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1160px;
  box-sizing: border-box;
  margin: 0 auto;
  flex-wrap: wrap;
}
.header-menu li {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.header-menu a {
  display: inline-block;
  color: #fff;
  padding: 16px 0px;
  margin-top: 0;
  position: relative;
}
.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background: #fff;
  margin-top: 4px;
  position: absolute;
}
.header-menu a:hover:after {
  width: 100%;
  transition: 0.3s;
}
.header-menu a:hover {
  background: #2e2e2e;
}
@media (max-width: 800px) {
  .header-menu a {
    background: #111;
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:after {
    display: none;
  }
}
@media (max-width: 600px) {
  .header-menu {
    display: flex;
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
  .header-menu a:after {
    display: none;
  }
}
