.introducao-bg {
  background: var(--cor-11);
  color: #fff;
  box-shadow: inset 0 -120px white;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 100%;
}

.introdução h1 span {
  color: #ffbb00;
}
.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
}

.introducao-conteudo {
  align-self: center;
  padding-bottom: 200px;
}
.introdução img {
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  width: 100%;
}
.introducao h1 {
  margin-bottom: 32px;
}
.introducao p {
  margin-bottom: 20px;
  line-height: 1.5;
}

.bikezin {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 800px) {
  .introducao-bg {
    background: #111;
    padding-top: 40px;
    box-shadow: inset -60px #fff;
  }
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .introducao-conteudo {
    padding-bottom: 0px;
  }

  .introducao h1 {
    margin-bottom: 16px;
  }
  .introducao img {
    height: 300px;
    width: 300px;
  }
}
